BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
UseTab: Always
ColumnLimit: 0
BreakBeforeBraces: Attach
MaxEmptyLinesToKeep: 1
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Empty
SortIncludes: false
