*.sh    text eol=lf
*.bash  text eol=lf

*.yml   text eol=lf
*.yaml  text eol=lf

Dockerfile      text eol=lf
*.dockerfile    text eol=lf

tests/ast/*.cmake               text eol=lf
tests/ast/verify-baseline/*     text eol=lf
